<p id="notice"><%= notice %></p>

<h2>レーザー加工よろず請負処</h2>
<h1>KOBANZAME</h1>

<h3>新着作例</h3>
<div class="row" style="display: -webkit-flex; display: flex; flex-wrap: wrap;" >
<% @materials.each do |material| %>
  <div class="col col-sm-3 col-xs-6 ">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <%= image_tag material.content_value, :size => '127x127', :style => 'object-fit: cover' %>
      </div>
      <div class="panel-footer">
        <p>
          <%= material.external_comment %>
        </p>
      </div>
    </div>
  </div>
<% end %>
</div>

