<h1>発注一覧</h1>
<p>発注一覧です</p>

<div class="row">
<% @orders.each do |order| %>
  <div class="col col-sm-6 col-xs-12 ">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <%= image_tag order.design.design_file.to_s, :size => '255x255', :style => 'object-fit: cover' %>
      </div>
      <div class="panel-footer">
        <p>
          <%= order.order_name %>
        </p>
      </div>
    </div>
  </div>
<% end %>
</div>