<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="row" style="display: -webkit-flex; display: flex; flex-wrap: wrap;" >
<% @products.each do |product| %>
  <div class="col col-sm-3 col-xs-6 ">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <%= link_to image_tag(product.design.design_file, :border => '0', :size => '127x127', :style => 'object-fit: cover'), product %>
      </div>
      <div class="panel-footer">
        <p>
          <%= product.description %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Product', new_product_path %>
